/* GLOBAL RULES */

* {
  box-sizing: border-box;
}

.header {
  height: 100px;
  background-color: rgb(61, 56, 56);
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.container {
  max-width: 1024px;
  display: flex;
  margin: 0 auto;
  /* background-color: lightcoral; */
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
.job {
  display: flex;
  /* background-color: antiquewhite; */
  height: 300px;
  width: 300px;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  flex-shrink: 0;
}

.job-border-red {
  border: 5px solid red;
}

.job-border-green {
  border: 5px solid green;
}

.job-border-yellow {
  border: 5px solid yellow;
}

.job-border-blue {
  border: 5px solid blue;
}

.job-border-salmon {
  border: 5px solid salmon;
}

h2 {
  font-size: 30px;
}

/* FOOTER */

.footer {
  height: 150px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 50px;
}

.footer span {
  font-weight: 900;
}
